* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    color: #505050;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

#Home {
    scroll-margin-top: 95px;
}

#Service,
#Faq,
#Reviews,
#Contact {
    scroll-margin-top: 90px;
}

#Promo {
    scroll-margin-top: -195px;
}


.container {
    width: 80%;
    max-width: 1120px;
    margin: 0 auto;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: rgba(201, 201, 201, 0.719);
    font-weight: 500;
}

.header_transparency {
    background-color: rgba(148, 148, 148, 0.8);
    border-bottom-color: rgb(50, 55, 70, 0);
}

.header .container {
    padding-top: 22px;
    padding-bottom: 22px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_item {
    font-family: "RammettoOne";
    color: #fff;
    background-color: #aaaaaa;
    width: 62px;
    height: 62px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 62px;
    border-radius: 50%;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    margin-right: 20px;
}

.logo span {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #505050;
}

.navigation_block {
    display: flex;
    justify-content: space-between;
}

.header_navigation {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    font-size: 1.2rem;
    list-style-type: none;
    letter-spacing: -0.25px;
}

.navigation li:not(:last-child) {
    margin-right: 50px;
}

.item_active {
    color: #ffffff;
}

.navigation_item>a:hover {
    color: black;
}

.burger-menu {
    display: none;
}

.burger-menu_button {
    position: absolute;
    top: 26px;
    left: 20px;
    z-index: 30;
    display: flex;
    align-items: center;
    width: 25px;
    height: 17.5px;
    transition: all 0.5s;
}

.button_lines,
.button_lines::before,
.button_lines::after {
    width: 25px;
    height: 2.5px;
    background-color: #ffffff;
    border-radius: 5px;
}

.button_lines {
    position: relative;
}

.button_lines::before {
    content: "";
    position: absolute;
    top: -8px;
}

.button_lines::after {
    content: "";
    position: absolute;
    top: 8px;
}

.burger-menu_button:hover {
    cursor: pointer;
    filter: brightness(0.7);
}

.burger_overlay {
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

.logo.burger_active {
    left: 71px;
    z-index: 30;
}

.header_navigation.burger_active,
.burger_overlay.burger_active {
    display: block;
    left: 0;
}

.burger-menu_button.burger_active {
    transform: rotate(90deg);
}

/* SLIDER HEADER */

.slider_block {
    position: relative;
    top: -115px;
}

.slider {
    position: relative;
}

.slider_ul {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.slider_li {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .4s linear;
    width: 100%;
    height: 100%;
}

.slider_li_active {
    opacity: 1;
}

.slider_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
}

.slider_li-text {
    position: absolute;
    top: 300px;
    left: 10%;
    width: 50%;
}

.slider_li-text h1 {

    font-family: "DMSerifDisplay";
    font-size: 56px;
    line-height: 100%;
    transition: opacity .4s linear;
}

.slider_li-text p {
    font-family: "Poppins";
    margin-top: 30px;
    font-size: 18px;
    line-height: 27px;
}

.slider_li button {
    position: absolute;
    left: 10%;
    bottom: 70px;
    padding: 17px 56px;
    margin-top: 30px;
    background: #9B9BCA;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.slider_pages-block {
    position: absolute;
    bottom: 10px;
    left: 50%;
    height: 15px;
}

.slider_pages-ul {
    display: flex;
}

.slider_pages-li {
    display: block;
    margin-left: 7px;
    border-radius: 50%;
    background-color: #fff;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: background-color .4s linear;
}

.slider_pages-li:hover {
    background-color: rgb(0, 0, 0);
}

.slider_pages-li_active {
    background-color: rgb(107, 107, 107);
}

.slider_pages-li:first-child {
    margin-left: 0;
}

/* Services */

.services .container {
    display: flex;
    flex-direction: column;
}

.services_title,
.reviews_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services_title h2,
.reviews_title h2 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}

.services_title p,
.reviews_title p {
    margin-top: 10px;
    text-align: center;
    font-family: "Poppins";
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}

.services_block {
    display: flex;
    margin-top: 140px;
    justify-content: space-between;
}

.services_block-item {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    padding: 20px;
}

.services_block-item h3 {
    margin-top: 20px;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;
    line-height: 40px;
    color: #626780;
}

.services_block-item {
    margin-top: 15px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #626780;
}

.services_support {
    display: flex;
}

.services_support-item:first-child {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.services_support-item:first-child h3 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
}

.services_support-item {
    margin-top: 150px;
}

.services_support-item:first-child p {
    margin-top: 15px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}

.services_support-item:last-child {
    margin-left: auto;
    display: grid;
    /* grid-template-rows: 95px 95px 95px 95px 95px;
    grid-template-columns: 95px 95px 95px 95px; */
    grid-template-areas: "grid-item-1 grid-item-2 grid-item-3 grid-item-4 grid-item-5"
        "grid-item-6 grid-item-7 grid-item-8 grid-item-9 grid-item-10"
        "grid-item-11 grid-item-12 grid-item-13 grid-item-14 grid-item-15"
        "grid-item-16 grid-item-17 grid-item-18 grid-item-19 grid-item-20"
}

.services_support-item div {
    width: 95px;
    height: 95px;

}

.grid-item-9 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #626780;
    border-radius: 50%;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}


/* PROMO */
.promo {
    margin-top: 140px;
}

.promo_title {
    display: flex;
    width: 100%;
}


.promo_title h2 {
    width: 50%;
    font-family: "PTSerif";
    font-size: 48px;
    line-height: 140%;
    color: #402B2B;
}

.promo_video {
    margin-top: 50px;
}

/* FAQ */

.faq_block-title {
    margin-top: 300px;
}


.faq_block-title h2 {
    font-family: "PTSerif";
    font-weight: 400;
    font-size: 38px;
    line-height: 140%;
    color: #402B2B;
    margin-bottom: 135px;
}

.faq_block-questions {
    display: flex;
    justify-content: space-around;
}

.accordion_item {
    margin-bottom: 15px;
}

.faq_block-item {
    width: 48%;
}

.accordion {
    position: relative;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    color: #402B2B;
    cursor: pointer;
    padding: 0 112px 0 35px;
    height: 90px;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.5s;
    background: #FFFFFF;
    box-shadow: 0px 5px 10px #E0E0E0;
    border-radius: 20px;
}

.accordion:hover {
    background: #F5F5FF;
}

.accordion:after {
    position: absolute;
    right: 35px;
    top: 30px;
    content: "\003E";
    color: #000000;
    ;
    font-size: 18px;
    font-weight: bold;
    float: right;
    margin: 0;
}

.active:after {
    transform: rotate(90deg);
}

.accordion_panel {
    position: relative;
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.accordion_panel p {
    position: relative;
    padding: 50px 35px;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F5F5FF;
    margin-bottom: 80px;
}

.faq_block-item:last-child {
    text-align: right;

}

.faq_block-item:last-child img {
    margin-top: 200px;
    width: 75%;
}

.faq_block-button {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.faq_block-button button {
    background: #9B9BCA;
    border-radius: 10px;
    padding: 30px 220px;
    font-family: "Rubik";
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
    border: none;
}

/* Reviews */
.reviews {
    background-image: url(/img/rewiewsBg.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: top 45% left;
}

.reviews_title {
    margin-top: 140px;
}

.reviews_module {
    display: flex;
    justify-content: space-evenly;
    margin-top: 160px;
}

.reviews_module-item {
    box-sizing: border-box;
    width: 35%;
    padding: 50px;
    padding-bottom: 115px;
    background: #FFFFFF;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.reviews_module-item img {
    width: 100%;
}

.reviews_module-title {
    margin-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 100%;
    color: #000000;
}

.reviews_module-item p {
    margin-top: 20px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}

.reviews_module-item button {
    position: absolute;
    bottom: -30px;
    left: calc(50% - 120px);
    background: #9595C9;
    border-radius: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    padding: 17px 60px;
    border: none;
}

.reviews_module-item:last-child button {
    background: #F01F35;
}


.reviews_block {
    margin-top: 50px;
}

.reviews_block-slider {
    display: flex;
    position: relative;
}

.reviews_images {
    position: absolute;
    top: 0;
    left: -27%;
}

.reviews_slider-block {
    width: 60%;
    margin-top: 170px;
    margin-left: auto;
    flex-direction: column;
}

.reviews_slider-title h3 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    color: #626780;
    text-align: center;
}

.reviews_slider-title p {
    font-family: "Poppins";
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    color: #626780;
    text-align: center;
}

.reviews_slider-reviews {
    position: relative;
    width: 65%;
    margin-top: 100px;
    margin-left: auto;
    display: flex;
    padding: 60px 90px;
    background-color: #ffffff;
    flex-direction: column;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
}

.reviews_slider-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #9D9D9D;
}

.slider_reviews-block {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.reviews_slider-prev,
.reviews_slider-next {
    position: absolute;
    top: calc(50% - 60px);
    color: gray;
    font-size: 30px;
    text-align: center;
    line-height: 56px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #EEEEEE;
}


.reviews_slider-prev {
    left: 15px;
}

.reviews_slider-next {
    right: 15px;
}
.slider_reviews-block img {
    margin-right: 40px;
}
.rewiews_name {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #626780;
}

.rewiews_rating,
.rewiews_star {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #9D9D9D;
}

.rewiews_star {
    font-size: 12px;
    display: flex;
}

.rewiews_star span {
    color: rgb(250, 250, 6);
    font-size: 25px;
    margin-right: 10px;
} 


/* FORM */

.contact {
    margin-top: 110px;
}

.contact_title {
    display: flex;
}

.contact_title h2 {
    width: 50%;
    font-family: "PTSerif";
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    color: #402B2B;
}

.contact_form {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.form-information {
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
    border-radius: 10px;
    padding: 100px 150px 50px 150px;
    width: 40%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_input:not(:last-child),
.form_textarea {
    margin-bottom: 2.6%;
}

.form_input,
.form_textarea {
    box-sizing: border-box;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 10px 40px;
    background: #FFFFFF;
    border: 2px solid #9595C9;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
    border-radius: 10px;
    line-height: 40px;
    color: #626780;
}

.form_textarea {
    width: 100%;
    height: 202px;
    padding: 10px 40px;
    color: #f0d8d9;
    resize: none;
}

.input_submit {
    width: 60%;
    transition: all 0.5s;
}

.input_submit:hover {
    cursor: pointer;
    color: #ffffff;
    font-weight: 900;
}

.input_invalid {
    color: maroon;
    border: 2px solid darkred;
}

.form_input:hover,
.form_textarea:hover {
    background-color: #9595C9;
    cursor: pointer;
}

.popup_overlay {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: block;
}

.popup_hidden {
    display: none;
}

.popup {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 50px 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #666d89;
    background: #f2f2f2;
    box-shadow: 1px 0px 10px rgb(125, 125, 125);
    margin: 20% auto;
    border-radius: 15px;
    border: 2px solid #9595C9;
}

.popup>span {
    margin: 10px;
}

.popup_title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 1px solid;
}

.popup_subject,
.popup_describe {
    max-height: 40px;
    overflow: hidden;
}

.popup_describe {
    max-height: 250px;
}

.popup_button {
    margin: 20px auto 0px;
    padding: 10px 40px;
    border: 2px solid #9595C9;
    box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
    border-radius: 10px;
    text-transform: uppercase;
}

.popup_button:hover {
    cursor: pointer;
    background-color: #9595C9;
}

/* Footer */

.footer {
    margin-top: 50px;
    background-image: url(/img/bg_footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 127px;
}

.footer_block {
    display: flex;
    justify-content: center;
}

.footer_block-item {
    display: flex;
    flex-direction: column;
}

.footer_block-item:not(:last-child) {
    margin-right: 120px;
}

.footer_block-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.footer_block-item a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #E6E6E6;
}

.footer_basement {
    margin-top: 75px;
    display: flex;
    padding: 30px 0;
    align-items: center;
}

.copyring {
    width: 60%;
    font-family: "RubikLight";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer_basement-social {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.footer_social a {
    color: #ffffff;
    font-size: 30px;
}

.footer_social a:not(:last-child) {
    margin-right: 30px;
}

.footer_logo {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.footer_logo-item {
    font-family: "RammettoOne";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 34px;
    color: #FFFFFF;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    margin-right: 5px;
}

.footer_logo span {
    display: block;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}






/* MEDIA */


@media (max-width: 767px) {
    .header {
        border: none;
    }

    .header .container {
        justify-content: center;
        height: 71px;
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 24px;
        left: calc(50% - 44px);
        transition: left 0.5s;
    }

    .logo h1 {
        font-size: 2.0rem;
    }

    .burger-menu {
        display: flex;
    }

    .header_navigation {
        position: absolute;
        left: -100%;
        top: 0;
        z-index: 25;
        width: 320px;
        height: 100vh;
        background: #2d303a;
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        margin: 0;
        transition: left 0.5s;
    }

    .navigation {
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left: 71px;
        top: 30%;
        height: 60vh;
        max-height: 300px;
        font-size: 30px;
    }

    .navigation_item:not(:last-child)::after {
        content: "";
        padding: 0;
    }

    #home {
        scroll-margin-top: 71px;
    }

    #services,
    #portfolio,
    #about,
    #contact {
        scroll-margin-top: 65px;
    }
}